<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order</title>
</head>
<body>

<h1>Welcome to Your Shopping Experience</h1>

<h2>Enter you name to go into the page</h2>
<form action ="/order" method="post">
    Name:
    <input type="text" placeholder ="Enter your name" name="name"/>

    Quantity:
    <input type="text" placehold = "Enter your email" name="email">

    Price:
    <input type="text" placehold = "Enter your email" name="email">


    <button type="submit">Login</button>
</form>

</body>
</html>