<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order</title>
</head>
<body>
<ul>
    <!--#markes a list-->
    <!--creates a list of items that have id,name,cuisine,location,rating-->
    {{#items}}
    <!--ID is entered in her so that it can be displayed on the page # this is taken from the SQL table-->

    <li>ID: {{id}}, Name: {{name}}, quantity: {{quantity}}, price: {{price}}</li>
    <!--<li>Name: {{name}}</li>
    <li>quantity: {{quantity}}</li>
    <li>price: {{price}}</li>
    <li>Order_Id: {{order_Id}}</li>-->


    <!--<li>ID: {{id}}</li>
    <li>Name: {{name}}</li>
    <li>quantity: {{quantity}}</li>
    <li>price: {{price}}</li>
    <li>Order_Id: {{order_Id}}</li>-->


    <!-- //allow us to edit the restaurant class-->
    Click To Edit:
    <a href="/restaurants/{{id}}">Edit</a>
    {{/items}}


</ul>


<h1>Welcome to Your Shopping Experience</h1>

<h2>Enter your item information</h2>

<form action ="/order" method="post">

    <label for ="name">Name:</label>
    <input type="text" placeholder ="Enter name"  id= name name="name">

    <label for ="name">Quantity:</label>
    <input type="text" placehold = "Enter item quantity"  id = quantity name="quantity">

    <label for ="name">Price:</label>
    <input type="text" placehold = "Enter price" id = price name="price">

    <button type="submit">Submit</button>
</form>

</body>
</html>